body {
    font-family: 'Courier Prime', monospace;
    color: #1f1f1f;
    font-size: 20px;
    background-color: whitesmoke;
    background-image: radial-gradient(rgba(0, 0, 0, 0.45) 1px, transparent 0);
    background-size: 20px 20px;
    overflow: scroll;
}

#wrapper {
    margin: 5vh auto;
    height: auto;
    width: 75vw;
    background-color: whitesmoke;
    border-radius: 25px;
    overflow: hidden;
}

ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 7.5px;
}
  
li {
    height: 45vh;
    padding: 7.5px;
}
  
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.25rem rgb(212, 212, 212));
}
