/* default or desktop settings */

body {
    margin: 0;
    font-family: 'Courier Prime', monospace;
    color: #1f1f1f;
    font-size: 20px;
    background-color: whitesmoke;
    background-image: radial-gradient(rgba(0, 0, 0, 0.45) 1px, transparent 0);
    background-size: 20px 20px;
    overflow: hidden;
}

p {
    line-height: 22px;
    font-size: 14px;
    text-align: left;
    margin: 0 14px;
}

span {
    color: blueviolet;
}


/* portfolio area displaying my mad sick art skills */
#wrapper {
    margin: 5vh auto;
    height: 600px;
    width: 830px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#left-container {
    margin: 2px;
    height: 596px;
    width: 226px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
}

#right-container {
    margin: 2px;
    height: 596px;
    width: 596px;
    display: flex;
    flex-direction: column;
}

.box {
    transition: all 1s ease-in-out;
    display: flex;
}

.button {
    background-color: rgba(250, 250, 250);
    filter: drop-shadow(0 0 0.25rem rgb(212, 212, 212));
    border-radius: 25px;
    transition: all 1s ease-in-out;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    overflow: hidden;
}

.item {
    margin: 2px;
    flex: 1;
    background-color: rgba(250, 250, 250);
    transition: all 1s ease-in-out;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item:hover {
    flex-grow: 6;
}

#landscape-box {
    background-color: whitesmoke;
    flex: 0.2;
}

#landscape-box:hover {
    flex-grow: 0.4;
}

#box-4 {
    background-color: whitesmoke;
    flex: 1;
}

#box-4:hover {
    flex-grow: 2;
}


/* links and buttons */
#links {
    background-color: rgba(0, 0, 0, 0);
    height: 28px;
    font-size: 14px;
    margin: 5px 5px 0 5px;
}

a {
    margin: 2px;
    display: flexbox;
    flex: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    color: blueviolet;
    background-color: rgba(250, 250, 250);
    filter: drop-shadow(0 0 0.25rem rgb(212, 212, 212));
    border-radius: 12px;
}

a:hover {
    background-image: linear-gradient(45deg, sandybrown, rgb(214, 111, 20));
    color: whitesmoke;
    filter: drop-shadow(0 0 0.35rem sandybrown);
}

#about {
    flex: 0.06;
    margin: 0 5px;
}

#about:hover {
    flex-grow: 0.995;
}

#contact {
    padding: 5px 50px;
    font-size: 14px;
}


/* mobile-friendly section */
@media screen and (max-width:770px) {

    body {
        overflow: scroll;
    }

    #wrapper {
        margin: 2.5vh 0 5vh;
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    #left-container {
        margin: 0 auto;
        width: 90%;
        height: auto;
        flex-direction: column-reverse;
    }

    #about {
        flex: 1;
        margin: 0 4px;
    }

    #contact {
        padding: 5px 60px;
    }

    #right-container {
        margin: 0 auto;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0);
        display: inline;
    }

    .item { 
        margin: 16px 4px;
        min-width: 60%;
    }

    #landscape-box {
        height: 130px;
        width: 90%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0);
    }

    #box-4 {
        overflow: scroll;
        background-color: rgb(240, 240, 240);
        box-shadow: inset 0 0 6px 4px rgb(212, 212, 212);
        padding: 0 5%;
        height: 350px;
    }
}


/* image links */
#figure_1 {
    background-image: url(Images/image_1.jpg);
}

#figure_2 {
    background-image: url(Images/image_2.jpg);
}

#figure_3 {
    background-image: url(Images/image_3.jpg);
}

#figure_4 {
    background-image: url(Images/image_4.jpg);
}

#figure_5 {
    background-image: url(Images/image_5.jpg);
}

#figure_6 {
    background-image: url(Images/image_6.jpg);
}